// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;
$black: #000;


 body {
   background: $gray; // Using this variable
 }


 .banner {
   background: red;
   h1 {
     font-size: 50px;
   }
 }


a {
   color: grey;
   &:hover {
     color: black;
   }
 }


%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}
